<tp-title>Sign Up</tp-title>

<tp-card *ngIf="state !== 'success'">
  <p>Sign up for TransPort App and your life will be better instantly. Try it!</p>

  <form (submit)="onSubmit()" [formGroup]="form">
    <tp-field-group>
      <tp-field name="first-name">
        <tp-label>First Name</tp-label>
        <tp-text-input formControlName="firstName" placeholder="Tom"></tp-text-input>
        <tp-input-error *ngIf="firstName.touched && firstName.hasError('required')">
          First Name is required!
        </tp-input-error>
      </tp-field>

      <tp-field name="last-name">
        <tp-label>Last Name</tp-label>
        <tp-text-input formControlName="lastName" placeholder="Wilson"></tp-text-input>
        <tp-input-error *ngIf="lastName.touched && lastName.hasError('required')">
          Last Name is required!
        </tp-input-error>
      </tp-field>
    </tp-field-group>

    <tp-field [control]="email" name="email">
      <tp-label>Email</tp-label>
      <tp-input-hint>Email address should end in transport.app</tp-input-hint>
      <tp-text-input formControlName="email" placeholder="t.wilson@transport.app"></tp-text-input>
      <tp-input-error *ngIf="email.touched && email.hasError('required')">Email address is required!</tp-input-error>
      <tp-input-error *ngIf="email.touched && email.hasError('email')">
        Email is not a valid email address
      </tp-input-error>
      <tp-input-error *ngIf="email.touched && email.hasError('disallowedDomain')">
        Email address should end in transport.app
      </tp-input-error>
    </tp-field>

    <tp-field [control]="password" name="password">
      <tp-label>Password</tp-label>
      <tp-input-hint>Password should be at least 8 characters</tp-input-hint>
      <tp-input-hint>Password should contain lowercase and uppercase characters</tp-input-hint>
      <tp-input-hint>Password shouldn't contain your first or last name</tp-input-hint>
      <tp-password-input formControlName="password" tpLowercaseValidator tpUppercaseValidator></tp-password-input>
      <tp-input-error *ngIf="password.touched && password.hasError('required')">Password is required!</tp-input-error>
      <tp-input-error *ngIf="password.touched && password.hasError('minlength')">
        Password should be at least {{ password.getError("minlength").requiredLength }} characters!
      </tp-input-error>
      <tp-input-error
        *ngIf="
          password.touched &&
          !password.hasError('required') &&
          !password.hasError('minlength') &&
          password.hasError('lowercase')
        "
      >
        Password should contain lowercase characters!
      </tp-input-error>
      <tp-input-error
        *ngIf="
          password.touched &&
          !password.hasError('required') &&
          !password.hasError('minlength') &&
          password.hasError('uppercase')
        "
      >
        Password should contain uppercase characters!
      </tp-input-error>
    </tp-field>
    <tp-alert *ngIf="form.hasError('nameInPassword')">Your first or last name cannot be in the password!</tp-alert>

    <tp-button [isDisabled]="state === 'pending' || !form.valid">
      Complete sign up
      <tp-icon icon="arrow-right"></tp-icon>
    </tp-button>
  </form>
</tp-card>

<tp-card *ngIf="state === 'success'">
  <tp-alert type="success">Successfully signed up!</tp-alert>
  <p>Welcome and stuff. Here is a funny number to show you we care (registration ID)</p>
  <pre><code>{{ registrationId }}</code></pre>
</tp-card>
