<div class="field">
  <ng-content select="tp-label"></ng-content>
  <ng-content select="tp-input-hint"></ng-content>
  <div class="field__content">
    <span class="field__input">
      <ng-content></ng-content>
    </span>
    <span
      *ngIf="control"
      [class.field__icon--error]="control.invalid"
      [class.field__icon--success]="control.valid"
      class="field__icon"
    >
      <tp-icon *ngIf="control.touched && control.valid" icon="check"></tp-icon>
      <tp-icon *ngIf="control.touched && control.invalid" icon="times"></tp-icon>
      <tp-icon *ngIf="control.touched && control.pending" [spin]="true" icon="spinner"></tp-icon>
    </span>
  </div>
  <ng-content select="tp-input-error"></ng-content>
</div>
